[border-all]{
  border: $border-base;
  box-sizing: border-box;
}
[border-top]{
  border-top: $border-base;
  box-sizing: border-box;
}
[border-bottom]{
  border-bottom: $border-base;
  box-sizing: border-box;
}
[border-right]{
  border-right: $border-base;
  box-sizing: border-box;
}
[border-left]{
  border-left: $border-base;
  box-sizing: border-box;
}