[display-flex]{
  display: flex;
}
[justify-between]{
  justify-content: space-between;
}
[align-center]{
  align-items: center;
}
[display-block]{
  display: block;
}
[border-box]{
  box-sizing: border-box;
}
[align-content-start]{
  align-content: flex-start;
}